
@import "tailwindcss";

/* The font-family for body will now be handled primarily by Tailwind's
   default font-sans, which we'll configure to use Montserrat. */
body {
  /* Remove font-family here as it will be set by Tailwind's base styles via the className on <body> */
  font-weight: 500; /* You can keep this here */
  margin: 0;
  box-sizing: border-box;
}

.cl-formFieldInput{
   height: 45px !important;
   border-radius: 3px !important;
   border: 1px solid #000c0cbf !important;
   box-shadow: none !important;
}

.cl-formButtonPrimary{
    height: 45px !important;
    background-color: #087b79 !important;
    color:floralwhite !important;
    box-shadow: none !important;
    font-weight: bold !important;
    border-radius: 3px !important;
}

.cl-rootBox{
   box-shadow:none !important;
}